*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 1.125rem;
    color: #424242;
    font-weight: bold;
    transition: .3s;
}

a:hover{
    color: #bb1414;
    box-shadow: 0 5px 0 #bb1414;
}

.container{
    width: 100%;
    max-width: 1200px;
    background-color: #bb1414;
    box-shadow: 0 0 12px #bb1414;
    padding: 2rem 1rem;
}

.content{
    max-width: 1200px;
    margin: 0 auto;
}

.container .content .header{
    display: flex;
    align-items: center;
}

.content .list ul .list-info{
    display: flex;
    gap: 2rem;
    margin: 0 5rem 0 0;
    align-items: center;
}

.content .list ul .list-info .name{
    flex: 1;
}

.content .list ul .list-info .birth{
    flex: .5;
}

.content .list ul .list-info .gender{
    flex: .5;
}

.content .list ul .list-info .cpf{
    flex: .5;
}

.content .list ul .list-info li h5{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.content .list ul .list-info p{
    margin-top: 1rem;
    font-size: .875rem;
    text-align: center;
}

.content .list ul .list-info a{
    display: inline-block;
    align-items: center;
}

.content .navbar ul{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 1rem;
    width: 1200px;
    background-color: grey;
}

/* .content .list ul .list-info .name,
.content .list ul .list-info .birth,
.content .list ul .list-info .gender,
.content .list ul .list-info .cpf{
    display: flex;
    flex-direction: column;
    align-items: center;
} */