/* List Title */
.info h5{
    font-size: 1.185rem;
    margin-bottom: 10px;
}

/* Button */
button{
    font-size: 1.125rem;
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
}

button:hover{
    color: #bb1414;
    box-shadow: 0 3px 0 #bb1414;
    transition: .3s;
}

td{
    vertical-align: middle;
}
