/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

a.nav-link{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: bold;
    color: #000;
}

a.nav-link:hover{
    color: #fff;
    box-shadow: 0 3px 0 #fff;
    transition: .3s;
}

.header{
    background-color: #bb1414;
    padding: 2rem;
}

.container{
    max-width: 1200px;
}