input[type=submit]{
    margin-top: 2rem;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    width: 150px;
    font-weight: bold;
    background: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 12px #424242;
    cursor: pointer;
}

input[type=submit]:hover{
    transition: .6s;
    box-shadow: 5px 5px 12px #bb1414;
}

input[type=text],
input[type=number],
input[type=date]{
    border: none;
    border-bottom: 3px solid #424242;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=date]:focus{
    outline: none;
    border: none;
    transition: .8s;
    border-bottom: 2px solid #bb1414;
}

.form-row{
    display: flex;
    gap: 3rem;
}

.content{
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    max-width: 1200px;
}

/* End Style */